JigsawPuzzle.Wpf/Connected Services/WCFGameService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/JigsawPuzzle.Core" />
  <xs:element name="Test1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Test1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Test1Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="JoinGameResult" nillable="true" type="q1:Bitmap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadyGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnlineUserMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JigsawPuzzle.Core" minOccurs="0" name="type" type="q2:OperationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Test2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Test2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="map" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Move">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JigsawPuzzle.Core" minOccurs="0" name="type" type="q3:OperationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>